.background { /* separate from the app layer */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.App {
  background-color: rgba(255, 255, 255, 0.5); /* alpha mask */
  text-align: center;
}


