.background { /* separate from the app layer */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: top;
  justify-content: center;
}

.App {
  background-color: rgba(255, 255, 255, 0.5); /* alpha mask */
  text-align: center;
}

.scrollable-container {
  width: 100%;
  height: 100vh; /* Set the desired height */
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
